.banner-section {
    padding: 60px;

    .tagline {
      font-size: 27px;
      color: #1a4df7;
      margin-bottom: 20px;
      display: inline-block;
    }
  
    h1 {
      font-size: 3rem;
      margin: 0;
      font-weight: bold;
      line-height: 1.2;
      color: white;
  
      .wrap {
        border-bottom: 2px solid;
        padding-bottom: 5px;
        text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #1a4df7,
        0 0 30px #1a4df7,
        0 0 40px #1a4df7,
        0 0 50px #1a4df7,
        0 0 60px #1a4df7;
      }
    }
  
    p {
      font-size: 1.2rem;
      margin-top: 20px;
      margin-bottom: 30px;
      color: white;
    }
  
    button {
      font-size: 1.1rem;
      padding: 10px 20px;
      color: #fff;
      background-color: #007bff;
      border: solid 0.5px white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      cursor: pointer;
      background: linear-gradient(90deg, #40c4ff, #81d4f4, #007bff, #002966 );
      background-size: 500%;
      z-index: 1;
      animation: blink 7s linear infinite;
      opacity: 1;
  
      &:hover {
        background: #0056b3;
      }
      @keyframes blink{
        from{
          background-position: 0%;
        }
        to{
          background-position: 500%;
        }
      }
    }
  
    img {
      max-width: 25%;
      border-radius: 30%;
      box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #1a4df7,
      0 0 30px #1a4df7,
      0 0 40px #1a4df7;
      margin-left: 60%;
      margin-top: -29%;
      display: block;
    }
  }

.about-me{
   width: 40%;
   height: 40%;
}
  